# Variables para desarrollo local
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mi_db
DB_PORT=3306
PORT=4000

# Railway proporciona estas variables automáticamente (no necesitas configurarlas manualmente)
# MYSQLHOST=
# MYSQLUSER=
# MYSQLPASSWORD=
# MYSQLDATABASE=
# MYSQLPORT=
